<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= birds.name %></title>
  </head>
  <body>
    <h1><%= birds.name %></h1>
    <form action="/birds/<%=birds._id%>?_method=DELETE" method="POST">
      <button type="submit">Delete <%= birds.name %></button>
    </form>
    <a href="/birds/<%= birds._id %>/edit">Edit <%= birds.name %></a>
    <a href="/birds/">Back to Birds</a>
  </body>
</html>
